Package: netext73-pakiety
Version: 0.0.02
Architecture: amd64
Maintainer: NetBit73 <netbit73@gmail.com>
Installed-Size: 87659
Depends: python, gcc, yad
Replaces: netext73-pakiety
Section: contrib/admin
Priority: extra
Homepage: http://www.netext73.pl
Description: NeteXt'73 - pakiety
  NeteXt'73 - pakiety dodatkowe.
